apiVersion: apps/v1
kind: Deployment 
metadata:
  name: api-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api 
  template:
    metadata:
      labels:
        app: api 
    spec:
      containers:
        - name: api-service 
          image: api-service:1.0.1
          imagePullPolicy: Never
          ports:
            - containerPort: 3000